.cart-list {
    position: sticky;
    top: 0;
}

.auth-info {
    padding: 5px 20px;
}

.identify {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    background-color: rgba(5, 95, 168, 0.575);
    border-radius: 7px;
    padding: 5px;
}

.exercise-info {
    margin: 15px 0;
}

.flex {
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
    background-color: rgba(5, 95, 168, 0.575);
    margin: 10px;
    border-radius: 7px;
    padding: 5px;
}

.btn-completed {
    padding: 10px;
    width: 100%;
    border: none;
    background-color:rgb(22, 158, 7);
    border-radius: 10px;
    cursor: pointer;
    color: white;
}