.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 60px;
    background-color: rgb(60, 94, 7);
}

.nav-menu a {
    text-decoration: none;
    color: white;
    margin-left: 18px;
    font-weight: 500;
}
.logo {
    width: 40px;
    height: 60px;
    margin-right: 10px;
}
.nav-menu a:hover {
    color: crimson;
    font-weight: 700;
}

@media only screen and (max-width: 980px) {
    .nav-menu {
        display: none;
    }
}